*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
{
    cursor: pointer;
}
.header{
            width: 100%;
            height: 55px;
            background-color: rgb(88, 80, 47);
            opacity: 0.7;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
        }
        .search{
            width: 100%;
            height: 50px;
            background-color: antiquewhite;
            position: fixed;
            z-index: 20;
            opacity: 0;
        }
        .search i{
            margin-left: 90px; 
        }
        .insearch{
            width: 300px;
            height: 35px;
            margin-top: 10px;
            margin-left: 400px;
            border-radius: 20px;           
        }
        .search:hover{
            opacity: 1;
            transition: 1s;
        }
        .image1{
            width: 200px;
            height: 40px;
            margin:10px 80px;
            float: left;
            cursor: pointer; 
            background-color: #e7a355;  
            border-radius: 20px;
        }
        .listall{
            text-transform: capitalize;
            list-style: none;
            float: right;
           margin-right: 80px;
        }
        .listall li{
            display: inline-block;
            margin-left: 35px;
            margin-top: 15px;
            color: #fff;
            cursor: pointer;
        }
        h2{
            margin-left: 100px;
        }
        .listall li:hover{
            color: blueviolet;
            background-color: rgb(252, 247, 247);
            padding: 4px;
            border-bottom: 4px solid rgb(243, 212, 155);
            border-radius: 30px;
        }
        .listall li:active{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
.container{
    width: 80%;
margin: auto;
margin-top: 100px;
}
.depart_item{
    width: 30%;
    float: left;
    background-color: rgb(247, 242, 235);
    text-align: center;
    border: 3px solid lightgray ;
    border-radius: 15px;
}
.center{
    margin: 0 5%;
}
.depart_image{
    position: relative;
    padding: 14% 14%;
    border-radius: 15px;
}
.depart_separate{
    width: 180px;
    height: 5px;
    background-color: rgb(116, 76, 16);
    outline: 3px solid rgb(81, 79, 92);
    border-radius: 50%;
    margin: auto;
    visibility: hidden;
    opacity: 0;
}
.depart_overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 15px;
}
.depart_item:hover .depart_overlay{
    opacity: 1;
    visibility: visible;
    transition: 2s;
    outline: 1px dashed rgb(81, 79, 92);
}
.depart_item h1{
    color: rgba(151, 86, 43, 0.849);
}
.depart_item p{
    color: rgba(80, 55, 3, 0.849);
}
.depart_item:hover .depart_separate{
    visibility: visible;
    opacity: 1;
    transition: 2s;
}
.depart_overlay a{
    background-color: rgb(230, 210, 174);
 display: block;
 width: 40px;
 height: 40px;
margin-left: 85%;
border: 2px solid rgb(68, 34, 2);
border-radius: 50%;
padding: 10px;
}
.mirror{
    margin-top: 60px;
    background-image:url(../images/back2.jpg) ;
    width: 100%;
    height: 90vh;
    background-size: cover;
    opacity: 0.5;
   text-align: center;
}
.mirror button{
    font-size: 25px;
    font-weight: bold;
    width: 220px;
    height: 40px;
    border: none;
    margin-top: 45vh;
    margin-left: 30px;
    cursor: pointer;
}
.mirror_log{
    background-color: rgb(102, 80, 7);
    color: #fff;
    outline: 3px solid black;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
.mirror_more{
    background-color:#fff;
    color:black;
    outline: 3px dashed black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.oline_parent{
    width: 90%;
    margin: auto;
}
.online_item{
    width: 25%;
    float: left;
    position: relative;   
}
.online_image{
    text-align: center;
    opacity: 0.7;
    padding: 14% 14%;
   border-top: 5px solid rgb(170, 120, 53);
   border-bottom: 5px solid rgb(170, 120, 53);
   border-right: 2px dashed rgb(170, 120, 53);
   border-left: 2px dashed rgb(170, 120, 53);
   border-radius: 20px;
}
.online_item i{
   margin: 20px;
    float: left;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;   
}
.online_item::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 2s;
    position: absolute;
    opacity: 0;
}
.online_item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.online_item::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    bottom:0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 1s;
    position: absolute;
    opacity: 0;  
}
.online_item:hover::before{ 
    width: 100%;
    height: 100%;
    opacity: 1;
}
h1 , h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #604e0b;
    text-align: center;
}
.branch_container{   
}
.branch_parent{
    width: 90%;
    overflow: auto;
    background-color: #b3bbb6;
    margin: 0 auto;
    position: relative;
}
.branch_item{
    padding: 14px 14px;
    width: 30%;
    float: left;
    overflow: auto;
   position: relative;
}
.bcenter{
    margin: 0 5%;
}
.branch_image{   
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.branch_image img{
    outline: 10px solid lightcyan;
    margin-top: 30px;
}
.branch_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}
.branch_overlay:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: 2s;
}
label{
    color: rgb(134, 112, 82);
}
.upper_par{
    width: 100%;
    height: 12px;
    z-index: 15;
}
.lower_par{
    width: 100%;
    height: 12px;
    z-index: 16;
    margin-top:320px;
}
.branch_parent:hover .upper_par{
    background-color: rgb(170, 120, 53);
    transition: 3s;
}
.branch_parent:hover .lower_par{
    background-color: rgb(170, 120, 53);
    transition: 3s;
}
.branch_p ,.s1,.s2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    z-index: 30;
    top: 100px;
    left: 80px;  
}
.s1{
    color: #fff;
    font-size: 20px;
    position: absolute;
    z-index: 25;
    top: 140px;
    left: 80px;  
}
.branch_no{
    font-size: 25px;
    color:#a87508;
    margin-left: 110px;
    background-color:#fff ;
    border-radius: 50%;
}
.underline{
    width: 200px;
    height: 8px;
    background-color: #604e0b;
    margin:15px auto;
    border-radius: 50%;
}
.cert_container{
    width: 100%;
    margin-top: 100px;
}
.cert_parient{
    width: 100%;
    margin: auto;
}
.cert_item{
    width: 30%;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
}
.cert_label1{
    font-size: 40px;
    color: #fff;
  
    visibility: hidden;
margin-top: 30px;
margin-left: 80px;
z-index: 40;
opacity: 0;
}
.cert_label2{
    font-size: 20px;
    color: #fff;
    
    visibility: hidden;
    margin-left: 50px;
    opacity: 0;
}
.cert_image::after{
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    transition: 1.5s;
    opacity: 0;
    }
.cert_image:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.cert_image:hover .cert_label1{
    border-radius: 15%;
    background-color: #f0d989;
    visibility: visible;
    transition: 1.5s;
    opacity: 1;
}
.cert_image:hover .cert_label2{
    visibility: visible;
    transition: 1.5s;
    opacity: 1;
}
.cert_item:hover .cert_image img{
    visibility: hidden;
    transition: 1s;
    opacity: 1;
}
.cert_info{
    position: absolute;
    text-align: center;
}
.cert_info i{
    font-size: 30px;
    color: #fff;
}
.cert_overlay{
    position: relative;
    z-index: 30;
}
.def_item{
    width: 30%;
    height: 150px;
    background-color:#604e0b;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-top: 6px  solid #fff;
    margin-bottom: 100px;
}
.def_item:hover{
    color: black;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.def_image{
    width: 100%;
    height: 100%;
    position: relative;
}
.def_image::after{
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    transition: 1.5s;
    opacity: 0;
    }
.def_image:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-bottom: 6px  solid #fff;
}
.line{
            width: 150px;
            height: 10px;
            background-color: gray;
            margin: 30px auto;
            border: 3px solid rgb(90, 87, 87);
            border-radius: 10px;  
  } 
.disc_parent{
    width: 100%;
    height: 400px;
    margin: auto;
}
.disc_item{
    width: 30%;
    height: 400px;
    padding: 15px;
    background-color: gray;
    float: left;
    margin-bottom: 150px;
}
.disc_image img{
    width: 100%;
    height: 100%;
}
.disc_image{
    width: 100%;
    height: 100%;
 position: relative;
z-index: 2;
padding: 25px;
}
.disc_info h3{
    color: #fff;
    font-size: 15px;
    padding: 30px;
    background-color: #a18625;
    width: fit-content;
    border-radius: 50%;
}
.disc_info{
    width: 100%;
    height: 100%;
   position: absolute;
   top: 100px;
   left: 70px;
   z-index: 40;
}
.disc_image::after{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0,0, 0.5);
    transition: 2s;
    position: absolute;
    opacity: 0;
}
.disc_image:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.disc_image h2{
    color:#fff;
    font-size:30px;
    font-weight: bold;
    position: absolute;
top: 0px;
left: -10px;
z-index: 40;
}
.contact_item{
    width: 90%;
    height: 250px;
    margin: auto;
}
.contact_image img{
    border-radius: 50%;
    border: 5px solid #575656;
}
.contact_image{
    margin-top: 50px;
    text-align: center;  
    border: 3px solid gray;
}
.conimg{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.conimg:hover{
    cursor: pointer;
    background: #575656;
    transition: 2s;
}
.contact_item{
    padding: 25px;
    width: 600px;
    height: 300px;
    float: left;
    font-size: 25px;
    color:rgb(80, 79, 79);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact_item h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #754e22;

}
.footer_container{
    width: 100vw;
}
.footer_end{
    width: 100%;
    height: 40px;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    color: #fff;
    bottom: 0;
    left: 0;
}
.footer_end i{
    font-size:20px;
    margin-left: 25px;
    margin-top: 5px;
    padding: 4px; 
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
}
.footer_end i:hover{
    opacity: 0.5;
    padding: 6px;
    opacity: 1;
    
}
.allrights{
    float: right;
    margin-right: 40%;
    margin-top: 10px;
}